@layer base {
    @font-face {
        font-family: 'Berkeley Mono';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Berkeley Mono';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Berkeley Mono';
        font-style: oblique;
        font-weight: 400;
        src: url('/fonts/BerkeleyMono-Oblique.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Berkeley Mono';
        font-style: oblique;
        font-weight: 700;
        src: url('/fonts/BerkeleyMono-Bold-Oblique.woff2') format('woff2');
    }
}
